/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@font-face{
    font-family: 'Nanum';
    font-style: normal;
    font-weight: normal;
    src: local('Nanum Pen Script'),
         url('../css/NanumPenScript-Regular.ttf') format('truetype'),
         url('nanumPen.woff') format('woff');

}
.sitename {
    font-family: 'Nanum';
    text-decoration: none;
}
a:-webkit-any-link{
    text-decoration:none !important;
    }
.sitename:hover {
    opacity: 75%;
}
html{
    position: relative;
    min-height: 100%;
    max-width: 100%;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

main {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 1%;
    padding-right: 10%;
    background-color: rgba(255, 255, 255, 0.687);
    color: rgb(79, 79, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

body::before {
    content: "";
    position: fixed;
    background: white url("../images/background.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }

.cover-container {
  max-width: 100%;
}


/*
 * Header
 */
.sitename {
    color:rgb(255, 255, 255);
    font-size: 2.5em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .50);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.50);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
/*
 * Main
 */
.title {
    margin-top: 5%;
    text-align: left;
    padding-left: 10%;
}
.title h1 {
    margin-top: -2%;
}

/*
 * Home
 */

.home-container{
    background-color: rgba(255, 255, 255, 0.699);
    margin-top: 10%;
    padding-bottom: 15%;
    color:rgb(80, 80, 80);
    padding-left: 10%;
    padding-top: 5%;
}
.home-container h1 {
    color:rgb(80, 80, 80);
    font-family: 'Nanum Pen Script', cursive;
    font-size: 400%;
    padding-bottom: -10%;
}
.home-container nav {
    margin-left: -2%;
}
.home-container nav a{
    color:rgb(80, 80, 80);
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container nav a:hover {
    opacity: .5;
}

.index-nav{
    margin-right: -15%;
}
.bitch {
    margin-right: -20%;
}


/*
 * About
 */

.me {
    width: 100%;
    height:auto;
    border-radius: 10px;
}

.about-me {
    padding-left: 10%;
}

.skills-container {
    padding-left: 10%;
}

.progress {
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0.488);
    border-radius: 6px;
}

.progress-bar {
    transition: .9s linear;
    transition-property: width, background-color;
    background-color:rgba(127, 156, 194, 0.543);
    border-radius: 6px;

}

/*
 * Portfolio
 */
.portfolio-holder {
    padding-left: 10%;
}

.portfolio-holder .row {
    padding-bottom: 5%;
}

.hover-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-container img{
    opacity: .5;
}
.hover-container:hover img {
    opacity: 1;
}

.modal-body p {
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.btn-secondary {
    background-color: rgba(172, 232, 212, 0.79);
    border: none;
    color:rgb(79, 79, 79);
}

.btn-secondary:hover {
    background-color: rgba(172, 232, 212, 0.516);
    color:rgba(79, 79, 79, 0.701)
}

/*
 * CONTACT
 */
.contact-main {
    padding-bottom: 15%;
}
.email-box {
    margin-top: 5%;
    margin-left: 5%;
    background:white;
    border-radius: 10px;
    padding: 5%;
}
.social-media-box {
    background: white;
    margin-left: 5%;
    padding: 5%;
    margin-top: 5%;
    border-radius: 10px;
}
.social-media-box svg {
    margin-right: 15%;
    margin-top: 5%;
}

.social-media-box svg:hover {
    opacity: .5;
}
.social-media-box a {
    color: rgb(80, 80, 80);
}
.unnecassary-text {
    font-size: small;
}

/*
 * Footer
 */
 footer {
     bottom: 0;
     padding-bottom: -3%;
 }
